<div class="jobCard" data-job-id="{{jobId}}">
    <div class="jobCardHeader">

        <div class="jobCompany">
            <div
                class="companyLogo clickableProfile"
                data-user-id="{{profileUserId}}"
                data-user-type="{{profileUserType}}"
            >
                <img src="{{companyLogo}}" alt="{{companyName}}">
            </div>

            <div
                class="companyInfo clickableProfile"
                data-user-id="{{profileUserId}}"
                data-user-type="{{profileUserType}}"
            >
                <h3 class="companyName">{{companyName}}</h3>
                <p class="companyUsername">{{industry}}</p>
            </div>
        </div>

        <div class="jobActions">
            <button class="actionBtn saveBtn {{saveClass}}" data-save="{{jobId}}">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="{{saveFill}}" stroke="currentColor" stroke-width="2">
                    <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"/>
                </svg>
            </button>

            {{employerActions}}
        </div>
    </div>

    <p class="jobDescription">
        <span class="descText">{{description}}</span>
        <button type="button" class="seeMoreBtn">see more...</button>
    </p>

    <div class="jobImage">
        <img src="{{jobImage}}" alt="{{companyName}}">
    </div>

    <div class="jobFooter">
        <div class="jobStats">
            {{statusBadge}}
            <p class="jobDate">{{dateRange}}</p>
        </div>

        <div class="jobCardBottomActions">
            <span class="appliedCount">{{appliedCount}} Applicants</span>
            <div class="jobBottomButton">
                {{applyButton}}
            </div>
        </div>
    </div>
</div>