<div
    class="notification {{readClass}}"
    data-notif-id="{{notifId}}"
    data-action-type="{{actionType}}"
    data-action-value="{{actionValue}}"
    data-post-id="{{postId}}"
    data-job-applicant-id="{{jobApplicantId}}"
    data-sender-user-id="{{senderUserId}}"
    data-notification-type="{{notificationType}}"
>
    <div class="notificationCompanyImage">
        <img src="{{senderImage}}" alt="{{senderName}}">
    </div>

    <div class="notificationText">
        <h4>{{senderName}}</h4>
        <p>{{notificationMessage}}</p>
        <span class="notificationTime">{{notificationTime}}</span>
    </div>
</div>